{% extends "base.html" %} {% block content %}
<!-- Page Title -->
<section
  class="page-title style-two"
  style="background-image: url(assets/images/background/page-title.jpg)"
>
  <div class="auto-container">
    <div class="content-box centred mr-0">
      <div class="title">
        <h1>404</h1>
      </div>
      <ul class="bread-crumb clearfix">
        <li><a href="/">Home</a></li>
        <li>404</li>
      </ul>
    </div>
  </div>
</section>
<!-- End Page Title -->

<!-- error-section -->
<section class="error-section centred">
  <div class="auto-container">
    <div class="inner-box">
      <h1>404</h1>
      <h2>page is not found. <br />the page is doesn’t exist or deleted</h2>
      <a href="/" class="theme-btn-one">Kembali ke Beranda</a>
    </div>
  </div>
</section>
<!-- error-section end -->

{% endblock %} {% block scripts %}
<!-- jequery plugins -->
<script src="../static/js/jquery.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/owl.js"></script>
<script src="../static/js/wow.js"></script>
<script src="../static/js/validation.js"></script>
<script src="../static/js/jquery.fancybox.js"></script>
<script src="../static/js/appear.js"></script>
<script src="../static/js/scrollbar.js"></script>
<script src="../static/js/jquery.nice-select.min.js"></script>
<script src="../static/js/product-filter.js"></script>

<!-- main-js -->
<script src="../static/js/script.js"></script>
{% endblock %}
