{% extends 'base.html' %} {% block list_mua %}current{% endblock %} {% block
content %}
<!-- Page Title -->
<section
  class="page-title style-two"
  style="background-image: url(../static/images/background/mua.jpg)"
>
  <div class="auto-container">
    <div class="content-box centred mr-0">
      <div class="title">
        <h1>MUA</h1>
      </div>
      <ul class="bread-crumb clearfix">
        <li><a href="/user">Beranda</a></li>
        <li>MUA</li>
      </ul>
    </div>
  </div>
</section>
<!-- End Page Title -->

<!-- category-section -->
<section class="category-section centred sec-pad-2">
  <div class="search-box">
    <div class="input-group">
      <div class="form-outline" data-mdb-input-init>
        <input
          id="search-focus"
          type="text"
          class="form-control"
          placeholder="Cari"
        />
      </div>
      <button type="button" class="btn btn-primary" id="cari-mua" data-mdb-ripple-init>
        <i class="fas fa-search"></i>
      </button>
    </div>
  </div>
  <div class="auto-container mua-result">
    <div id="loader"></div>
    <div class="inner-content clearfix" id="results">
      {% for item in mua_rating %}
      <div
        class="category-block-one wow fadeInDown animated animated"
        data-wow-delay="00ms"
        data-wow-duration="1500ms"
      >
        <div class="inner-box" data-toggle="modal" data-target="#myModal{{item.id}}">
          <div class="item"><h5>{{ item.nama_mua }}</h5></div>
          <div class="detail-rating">
            <div class="item">
              {% for i in range(5) %}
                  {% if i < item.rating %}
                    <span>
                      <li><i class='fa-solid fa-star' style='color: #FFD43B;'></i></li>
                    </span>
                  {% else %}
                    <span>
                      <li><i class='fa-solid fa-star' style='color: #c3c6d1;'></i></li>
                    </span>
                  {% endif %}
              {% endfor %}
            </div>
            <h5 class="label-rating">{{ item.str_rating }}</h5> 
          </div>
        </div>
      </div>
      
      <!-- Modal -->
      <div id="myModal{{item.id}}" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">{{ item.nama_mua }}</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body mua-detail">
              <div class="item">
                <div class="lokasi">Lokasi</div>
                <p>{{ item.lokasi }}</p>
              </div>
              <div class="item">
                <div class="produk">Produk</div>
                <div class="lokasi-container">
                  <ul class="list-group list-group-flush">
                    {% for p in item.produk %}           
                    <li class="list-group-item">{{ p }}</li>  
                    {% endfor %} 
                  </ul>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>
      {% endfor %}
    </div>
    <div class="pagination-wrapper centred">
      <ul class="pagination clearfix">
        {% for page_num in mua_items.iter_pages(left_edge=1, right_edge=1,
        left_current=1, right_current=1) %} {% if page_num %} {% if
        mua_items.page == page_num %}
        <a
          class="btn btn-info mb-4"
          href="{{ url_for('user.list_mua', page=page_num) }}"
          >{{ page_num }}</a
        >
        {% else %}
        <a
          class="btn btn-outline-info mb-4"
          href="{{ url_for('user.list_mua', page=page_num) }}"
          >{{ page_num }}</a
        >
        {% endif %} {% else %} ... {% endif %} {% endfor %}
      </ul>
    </div>
  </div>
</section>
<!-- category-section end -->

{% endblock %} {% block scripts %}
<!-- jequery plugins -->
<script src="../static/js/jquery.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/owl.js"></script>
<script src="../static/js/wow.js"></script>
<script src="../static/js/validation.js"></script>
<script src="../static/js/jquery.fancybox.js"></script>
<script src="../static/js/appear.js"></script>
<script src="../static/js/scrollbar.js"></script>
<script src="../static/js/jquery.nice-select.min.js"></script>

<!-- main-js -->
<script src="../static/js/script.js"></script>

<script>
  const result_clone = 
    '<div\
        class="category-block-one wow fadeInDown animated animated"\
        data-wow-delay="00ms"\
        data-wow-duration="1500ms"\
      >\
        <div class="inner-box" id="modal-mua" data-toggle="modal">\
          <div class="item" id="nama-mua"></div>\
          <div class="detail-rating">\
            <div class="item" id="rating">\
            </div>\
            <h5 class="label-rating" id="str-rating"></h5> \
          </div>\
        </div>\
      </div>\
      <div class="modal fade modal-mua-content" role="dialog">\
        <div class="modal-dialog">\
          <div class="modal-content">\
            <div class="modal-header">\
              <button type="button" class="close" data-dismiss="modal">&times;</button>\
            </div>\
            <div class="modal-body mua-detail">\
              <div class="item" id="item-lokasi">\
                <div class="lokasi">Lokasi</div>\
              </div>\
              <div class="item">\
                <div class="produk">Produk</div>\
                <div class="lokasi-container">\
                  <ul class="list-group list-group-flush" id="item-produk">\
                  </ul>\
                </div>\
              </div>\
            </div>\
            <div class="modal-footer">\
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>\
            </div>\
          </div>\
        </div>\
      </div>'
  
  $("#loader").hide();
  const clone = $("#results").clone();
  const clone_pg = $(".pagination").clone()
  function liveSearch(value) {
    value = value.trim();
    console.log(value);
    if (value != "") {
      $.ajax({
        url: "/user/search",
        data: {
          searchText: value,
        },
        dataType: "json",
        beforeSend: function () {
          $("#loader").show();
        },
        complete: function (data) {
          $("#loader").hide();
        },
        success: function (data) {
          console.log(data)
          if (data.length === 0) {
            $("#results").html("<div> Data MUA tidak ditemukan </div>");
            $(".pagination").hide()
            $(".main-footer").hide()
          } else {
            // for (let i = 0; i < data.length; i++) {
            //   let res = $(result_clone)
            //   res.find("#modal-mua").attr("data-target", "#myModal" + data[i]["id"])
            //   res.find("#nama-mua").append(
            //     "<h5>" + data[i]["nama_mua"] + "</h5>"
            //   )
            //   for (let j=0; j < 5; j++){
            //     if(j < data[i]["rating"]){
            //       res
            //       .find("#rating")
            //       .append(
            //         "<span><li><i class='fa-solid fa-star' style='color: #FFD43B;'></i></li></span>"
            //       );
            //     } else {
            //       res
            //       .find("#rating")
            //       .append(
            //         "<span><li><i class='fa-solid fa-star' style='color: #c3c6d1;'></i></li></span>"
            //       );
            //     }
            //   }
            //   res.find(".modal-mua-content").attr("id", "myModal" + data[i]["id"])
            //   res.find(".modal-header").append('<h4 class="modal-title">' + data[i]["nama_mua"] + '</h4>')
            //   res.find("#item-lokasi").append('<div class="lokasi">Lokasi</div>\
            //     <p>'+ data[i]["lokasi"] + '</p>')
            //   for (let j = 0; j < data[i]["produk"]; j++){
            //     res.find("#item-produk").append('<li class="list-group-item">'+ data[i]["produk"][j] +'</li>')
            //   }
            // //   res +=
            // //     '<div class="category-block-one wow fadeInDown animated animated" data-wow-delay="00ms"data-wow-duration="1500ms">\
            // //                 <div class="inner-box">\
            // //                 <div class="shape">\
            // //                 <div class="shape-1" style="background-image: url(assets/images/shape/shape-1.png)"></div>\
            // //                 <div class="shape-2" style="background-image: url(assets/images/shape/shape-2.png)"></div>\
            // //                 </div>\
            // //                 <div class="icon-box"><i class="icon-6"></i></div>\
            // //                 <h5>' +
            // //     data.results[i] +
            // //     "</h5>\
            // //                 <span>52</span>\
            // //                 </div>\
            // //                 </div>";
            // // }
            console.log(data)
            $(".mua-result").children().remove()
            $(".mua-result").append(data['htmlresponse']);
            $(".pagination").hide()
          }
        },
      });
    } else {
      $("#results").html(clone);
      $(".pagination").show()
    }
  }


$( "#search-focus" ).on( "keyup", function() {
  if($(this).val() === ''){
    $("#results").html(clone);
    $(".pagination").show()
    $(".main-footer").show()
  }
} );

  $("#cari-mua").on('click', function(){
    liveSearch($("#search-focus").val())
  })

  $('#search-focus').keydown(function(e){
      if(e.which == 13){
        console.log('click')
        $("#cari-mua").triggerHandler("click");
      }
  });
</script>
{% endblock %}
