.input-group {
  padding-bottom: 30px;
  justify-content: flex-end;
}

.search-box {
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.form-control {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-box .input-group .btn-primary {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #f85c70;
  border: #f85c70;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #f85c70;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(248 92 112 / 37%);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #f85c70;
  border-color: #f85c70;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 0.2rem rgb(248 92 112 / 37%);
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgb(248 92 112 / 37%);
}

.loader-icon {
  text-align: center;
  position: relative;
  top: 10px;
}

.mua-detail .item {
  display: flex;
}

.mua-detail .item .lokasi {
  width: 150px;
  text-align: left;
}

.mua-detail .item p {
  padding-left: 20px;
  text-align: left;
}

.mua-detail .item .produk {
  width: 150px;
  padding-top: 0.75rem;
  text-align: left;
}

.lokasi-container {
  padding-left: 20px;
  text-align: left;
  margin-left: -30px;
}

h5.label-rating {
  font-size: 15px !important;
  padding-top: 7px;
  padding-left: 5px;
}

.detail-rating {
  display: flex;
  justify-content: center;
}

.detail-rating h5 {
  color: #c3c6d1 !important;
}

.category-block-one .inner-box:hover .detail-rating h5 {
  color: #fff !important;
}